<p>Hey there!</p>

<p>Welkome to Firefly III. Your registration has made it, and this email is here to confirm it.</p>

<p>Thanks for using Firefly!</p>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "EmailMessage",
    "action": {
      "@type": "ViewAction",
      "url": "https://geld.nder.be/",
      "name": "Visit Firefly III"
    },
    "description": "Visit Firefly III"
  }
</script>
