{% extends "./layout/install" %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Please wait...</p>
        <div class="row">
            <div class="col-xs-8">
                Hello
            </div>
        </div>
    </div>
{% endblock %}

