<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    {# favicons #}
    {% include('partials.favicons') %}
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>500</title>
    <link rel="stylesheet" href="v2/lib/font-awesome/4.7.0/css/font-awesome.min.css?v={{ FF_VERSION }}">
    <link rel="stylesheet" href="v2/assets/css/gf-source.css?v={{ FF_VERSION }}">
    <link href="v2/assets/css/dashboard.css" rel="stylesheet" />
</head>
<body class="">
<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5">Firefly III error</div>
            <h1 class="h2 mb-3">{{ message |default('General unknown errror')|raw }}</h1>
            <p class="h4 text-muted font-weight-normal mb-7">
                If you do not know how to handle this error, please open an issue on
                <a href="https://github.com/firefly-iii/firefly-iii/issues">GitHub</a>
                or <a href="mailto:thegrumpydictator@gmail.com">send me a message</a>.</p>
            <a class="btn btn-primary" href="javascript:history.back()">
                <i class="fe fe-arrow-left mr-2"></i>Go back
            </a>
        </div>
    </div>
</div>
</body>
</html>
