{% extends "./layout/default" %}
{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Bread crumbs v1</li>
</ol>
{% endblock %}
{% block content %}
    <!-- Small boxes (Stat box) -->

    <!-- Main row -->
    <div id="dashboard"></div>
    <!-- /.row (main row) -->
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/dashboard.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
