{% extends "./layout/default" %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <!-- Small boxes (Stat box) -->

    <!-- Main row -->
    <div id="dashboard"></div>
    <!-- /.row (main row) -->
{% endblock %}

{% block control %}
    <div>
        <div class="p-3 control-sidebar-content">
            <h5>{{ 'date_range'|_ }}</h5>
            <hr class="mb-2">
            <div id="calendar"></div>
            <hr class="mb-2">
        </div>
    </div>
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/dashboard.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
