<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <title>Firefly III is in maintenance mode.</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            color: #B0BEC5;
            display: table;
            font-family: 'Roboto', sans-serif;
        }
        p {
            color:#575e62;
            font-size:1.5em;
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .title {
            font-size: 4em;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="title">Be right back!</div>
        <p>
            Firefly III is down for some necessary maintenance. Please check back in a second.
        </p>
    </div>
</div>
</body>
</html>
