<html>
<head>
    <base href="{{ route('index') }}/"/>
    <title>Firefly III is in maintenance mode.</title>
    <style>

        /* latin */
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            src: local('Roboto Light'), local('Roboto-Light'), url('fonts/roboto-light-300.woff2') format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            color: #B0BEC5;
            display: table;
            font-family: 'Roboto', sans-serif;
        }

        p {
            color: #575e62;
            font-size: 1.5em;
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .title {
            font-size: 4em;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="title">Be right back!</div>
        <p>
            Firefly III is down for some necessary maintenance. Please check back in a second.
        </p>
    </div>
</div>
</body>
</html>
