{% extends './v2/layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div id="bills"></div>
{% endblock %}

{% block control %}
    <div>
        <div class="p-3 control-sidebar-content">
            <h5>{{ 'date_range'|_ }}</h5>
            <hr class="mb-2">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="v2/js/bills/index.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
