<p class="search_count">
    {% if true == hasPages %}
        {{ trans('firefly.search_found_more_transactions', {count: groups.count(), time: searchTime}) }}
    {% elseif 0 == groups.count() %}
        {{ trans_choice('firefly.search_found_transactions', 0, {time: searchTime}) }}
    {% else %}
        {{ trans_choice('firefly.search_found_transactions', groups.count(), {time: searchTime}) }}
    {% endif %}
</p>

{% include 'v1.list.groups' %}
