{% extends "./layout/v3/session" %}
{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <img src="v3-local/logo/logo-session.png" width="68" height="100" alt="Firefly III Logo"
                 title="Firefly III"/>
        </div>

        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <strong>{{ 'flash_error'|_ }}</strong> {{ 'problems_with_input'|_ }}<br><br>
                <ul>
                    {% for error in errors.all %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="card">

            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    {% include 'partials.password-modal' %}
{% endblock %}
