{% set VUE_SCRIPT_NAME = 'exchange-rates/rates' %}
{% extends './layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, from, to) }}
{% endblock %}

{% block content %}
    <div id="exchange_rates_rate"></div>
{% endblock %}
{% block scripts %}

{% endblock %}
