{% set VUE_SCRIPT_NAME = 'exchange-rates/rates' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, from, to) }}
@endsection

@section('content')
    <div id="exchange_rates_rates"></div>

@endsection
@section('scripts')

@endsection
