# To force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# To hide directory listing
Options All -Indexes

# To prevent access to .env and other files
<Files .*>
    Deny from all
</Files>
