<div class="list-group">
    {% for group in groups %}
        {% for transaction in group.transactions %}
            <a class="list-group-item" href="{{ route('transactions.show', [transaction.transaction_group_id]) }}">
                {{ transaction.description }}
                <span class="pull-right small">
                    X
                </span>
            </a>
        {% endfor %}
    {% endfor %}
</div>
