	<!-- Modal dialog to show transactions matching these triggers -->
	<div class="modal fade" id="testTriggerModal" tabindex="-1" role="dialog" aria-labelledby="testTriggerLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="testTriggerLabel">{{ 'test_rule_triggers'|_ }}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="transaction-warning alert alert-warning">
	            <h4><i class="icon fa fa-warning"></i> {{ 'flash_warning'|_ }}</h4>
	            <span class="warning-contents"></span>
	        </div>
	        <div class="transactions-list">
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>    