#daterange {cursor:pointer;}
.google-chart-error {height:30px;background:url('/images/error.png') no-repeat center center;}
.handle {cursor:move;}

.ui-sortable-placeholder {
    display: inline-block;
    height: 1px;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.medium {
    font-size: 16px;
}

a.panel-link {color:#fff;text-decoration: none;}
a.panel-link:hover {color:#fff;text-decoration: none;}