#daterange {cursor:pointer;}
.google-chart-error {height:30px;background:url('/images/error.png') no-repeat center center;}
.handle {cursor:move;}

.ui-sortable-placeholder {
    display: inline-block;
    height: 1px;
}
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* fix login box */
.login-box {width:600px;}
.login-logo {width:360px;margin-left:110px;}
.login-box-body {width:360px;margin-left:110px;}