#daterange {cursor:pointer;}
.general-chart-error {height:30px;background:url('/images/error.png') no-repeat center center;}
.handle {cursor:move;}

.ui-sortable-placeholder {
    display: inline-block;
    height: 1px;
}
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}


.ff-error-page {
    width: 1000px;
    margin: 20px auto 0 auto;
}
.ff-error-page > .headline {
    float: left;
    font-size: 100px;
    font-weight: 300;
}
.ff-error-page > .error-content {
    margin-left: 190px;
    display: block;
}
.ff-error-page > .error-content > h3 {
    font-weight: 300;
    font-size: 25px;
}
.ff-error-box {
    width: 460px;
    margin: 7% auto;
}

/* cursors */
.rule-triggers {cursor:move;}
.rule-actions {cursor:move;}