{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, subTitle) }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ subTitle }}
            </div>
            <div class="panel-body">
                {% include 'list/journals.twig' with {'journals': list} %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
