<!doctype html>
<html lang="en" dir="ltr">
<head>
    <base href="{{ route('index') }}/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>

    {# favicons #}
    {% include('partials.favicons') %}

    <title>{{ pageTitle|default('Firefly III') }} (v{{ FF_VERSION }})</title>
    <link rel="stylesheet" href="v2/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="v2/assets/css/gf-source.css">
    <link href="v2/assets/css/dashboard.css" rel="stylesheet"/>
</head>
<body>
<div class="page">
    {% block content %}{% endblock %}

    <script src="v2/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="v2/assets/js/vendors/bootstrap.bundle.min.js"></script>

    {# favicons #}
    {% include('partials.password_modal') %}
</div>
</body>
</html>
