<!doctype html>
<html lang="en" dir="ltr">
<head>
    <base href="{{ route('index') }}/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="Content-Language" content="en"/>

    {# favicons #}
    {% include('partials.favicons') %}

    <title>
        {% if subTitle %}
            {{ subTitle }} »
        {% endif %}
        {% if title != "Firefly III" %}
            {{ title }} »
        {% endif %}

        Firefly III
    </title>
    <link href="v2/assets/css/app.css" rel="stylesheet"/>
    {% block styles %}{% endblock %}
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>

<span id="root"></span>

<script src="v2/assets/js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
