<!-- Modal dialog to show category expenses -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|_ }}"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="expenseEntryTitle">{{ 'category_entry'|_ }}</h4>
        </div>
        <div class="modal-body">
            {% include 'popup/list/journals.twig' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
        </div>
    </div>
</div>
