{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Somebody (hopefully you) just created a new Firefly III API OAuth Client for your user account. It's labeled "{{ client.name }}"
    and has callback URL <span style="font-family: monospace;">{{ client.redirect }}</span>.
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    With this client, they can access <strong>all</strong> of your financial records through the Firefly III API.
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    If this wasn't you, please revoke this client as soon as possible at {{ route('profile.index') }}.
</p>
{% include 'emails.footer-html' %}
