parameters:
  paths:
    - ../app
    - ../database
    - ../routes
    - ../config
    - ../bootstrap/app.php
    - ../bootstrap/providers.php
  universalObjectCratesClasses:
    - Illuminate\Database\Eloquent\Model
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    # these are actually interesting but not right now:
    - identifier: notIdentical.alwaysTrue
    - identifier: method.notFound
    - identifier: nullsafe.neverNull
    - identifier: identical.alwaysFalse
    - identifier: if.condNotBoolean
    # - identifier: booleanNot.exprNotBoolean
    - identifier: method.nonObject
    - identifier: function.impossibleType
    - identifier: booleanNot.exprNotBoolean
    - identifier: ternary.condNotBoolean
    - identifier: booleanNot.alwaysFalse
    - identifier: booleanAnd.alwaysFalse
    - identifier: greater.alwaysTrue
    - identifier: function.alreadyNarrowedType
    - identifier: booleanNot.alwaysTrue
    - identifier: property.phpDocType
    - identifier: nullCoalesce.offset
    - identifier: nullCoalesce.variable
    - identifier: larastan.noUnnecessaryCollectionCall
    - identifier: varTag.differentVariable
    - identifier: identical.alwaysTrue
    - identifier: clone.nonObject
    - identifier: assign.propertyReadOnly
    - identifier: property.nonObject
    - identifier: varTag.nativeType
    - identifier: booleanAnd.leftAlwaysFalse
    - identifier: property.onlyWritten
    - identifier: parameter.phpDocType
    - identifier: property.dynamicName
    - identifier: property.unusedType
    - identifier: staticMethod.deprecated
    - identifier: greater.invalid
    - identifier: instanceof.alwaysTrue
    # ignore everything but things that BREAK
    - identifier: property.deprecated
    - identifier: method.deprecated
    - identifier: cast.useless
    - identifier: parameter.deprecatedClass
    - identifier: method.deprecatedClass
    - identifier: argument.type
    - identifier: return.type
    - identifier: assign.propertyType
    - identifier: return.unusedType
    - identifier: return.phpDocType
    # all errors below I will never fix.
    # - '#expects view-string\|null, string given#'
    # - '#expects view-string, string given#'
    # - "#Parameter \\#[1-2] \\$num[1-2] of function bc[a-z]+ expects numeric-string, [a-z\\-|&]+ given#"
    - identifier: missingType.generics # not interesting enough to fix.
    -
        identifier: larastan.noEnvCallsOutsideOfConfig
        path: ../app/Console/Commands/System/CreatesDatabase.php
    - identifier: missingType.iterableValue # not interesting enough to fix.
    - identifier: varTag.type # needs a custom extension for every repository, not gonna happen.
    - '#Dynamic call to static method Illuminate#'
    # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::before#' # is custom scope
    # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::after#' # is custom scope
    # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::withTrashed#' # is to allow soft delete
    # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::accountTypeIn#' # is a custom scope
    # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\BelongsTo::withTrashed#' # is to allow soft delete

  # The level 8 is the highest level. original was 5
  # 7 is more than enough, higher just leaves NULL things.
  level: 6

