<p>
    {{ 'select_budget'|_ }}
</p>
<select id="inputBudgets" name="budget[]" multiple="multiple" class="form-control">
    {% for budget in budgets %}
        <option value="{{ budget.id }}" label="{{ budget.name }}">{{ budget.name }}</option>
    {% endfor %}
</select>
