<div class="form-group">
    <label for="inputBudgets" class="col-sm-3 control-label">{{ 'select_budget'|_ }}</label>
    <div class="col-sm-9">
        <select id="inputBudgets" name="budget[]" multiple="multiple" class="form-control">
            {% for budget in budgets %}
                <option value="{{ budget.id }}" label="{{ budget.name }}">{{ budget.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
