<p>
    {{ 'select_category'|_ }}
</p>
<select id="inputCategories" name="category[]" multiple="multiple" class="form-control">
    {% for category in categories %}
        <option value="{{ category.id }}" label="{{ category.name }}">{{ category.name }}</option>
    {% endfor %}
</select>
