<p>
    {{ 'select_category'|_ }}
</p>
{% for category in categories %}
<label class="checkbox-inline">
    <input type="checkbox" name="category[]" value="{{ category.id }}"> {{ category.name }}
</label>
{% endfor %}
