
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-panel active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Create new stuff</h3>
            <ul class='control-sidebar-menu'>
                <li>
                    <a href="{{ route('transactions.create', 'withdrawal') }}">
                        <i class="menu-icon fa fa-long-arrow-left bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New withdrawal</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('transactions.create', 'deposit') }}">
                        <i class="menu-icon fa fa-long-arrow-right bg-green"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New deposit</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('transactions.create', 'transfer') }}">
                        <i class="menu-icon fa fa-exchange bg-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New transfer</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-money bg-maroon"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New asset account</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-shopping-cart bg-maroon"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New expense account</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-download bg-maroon"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New revenue</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-sort-amount-asc bg-teal"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New piggy bank</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-download bg-purple"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New bill</h4>
                        </div>
                    </a>
                </li>

            </ul><!-- /.control-sidebar-menu -->

        </div><!-- /.tab-pane -->
    </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>
