
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-panel active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Create new something.</h3>
            <ul class='control-sidebar-menu'>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-long-arrow-left bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">New withdrawal</h4>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Create new something
                        </h4>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->

        </div><!-- /.tab-pane -->
    </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>
