{% extends './v2/layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <!-- Small boxes (Stat box) -->

    <!-- Main row -->
    <div id="transactions_edit"></div>
    <!-- /.row (main row) -->
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        // this is a terrible hack.
        var previousURL = '{{ previousUri }}';
    </script>
    <script src="v2/js/transactions/edit.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
