{% extends './v2/layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <!-- Main row -->
    <div id="transactions_index"></div>
    <!-- /.row (main row) -->
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/transactions/index.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
