{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    This is a test message from your Firefly III instance. It was sent to {{ email }}.
</p>
{% include 'emails.footer-html' %}
