<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('firefly.email_closing') }}
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('firefly.email_signature') }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;color:#aaa;">
    {{ trans('firefly.email_footer_ps', {ip: ip, userIp: userIp, ipAddress: ipAddress}) }}
</p>

</body>
</html>
