{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.new_ip_body') }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight: bold;">
    {{ ipAddress }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.new_ip_warning') }}
</p>

{% include 'emails.footer-html' %}
