{% include 'v1.emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.oauth_created_body', { name:client.name, url: client.redirect })|raw }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.oauth_created_explanation')|raw }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.oauth_created_undo', { url:route('profile.index')}) }}
</p>
{% include 'v1.emails.footer-html' %}
