{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Somebody tried to reset your password. If it was you, please follow the link below to do so.
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    <strong>PLEASE</strong> verify that the link actually goes to the Firefly III you expect it to go!
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    <a href="{{ url }}">{{ url }}</a>
</p>
{% include 'emails.footer-html' %}
