<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ data['token-url'] }}">
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        window.location.href = "{{ data['token-url'] }}";
    </script>
    <title>Page Redirection</title>
</head>
<body>
If you are not redirected automatically, follow this <a href='{{ data['token-url'] }}'>link to Spectre.</a>.
</body>
</html>
