{% set VUE_SCRIPT_NAME = 'webhooks/create' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
@endsection

@section('content')
    <div id="webhooks_create"></div>
@endsection
@section('scripts')
    <script type="text/javascript" nonce="{{ $JS_NONCE }}">
        var previousUrl = '{{ previousUrl }}';
    </script>
@endsection
