{% set VUE_SCRIPT_NAME = 'webhooks/edit' %}
{% extends './layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, webhook) }}
{% endblock %}

{% block content %}
    <div id="webhooks_edit"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        var previousUrl = '{{ route('webhooks.index') }}';
    </script>
{% endblock %}
