{% set VUE_SCRIPT_NAME = 'webhooks/index' %}
{% extends './layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <div id="webhooks_index"></div>
{% endblock %}
{% block scripts %}

{% endblock %}
