{% set VUE_SCRIPT_NAME = 'webhooks/show' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, webhook) }}
@endsection

@section('content')
    <div id="webhooks_show"></div>
@endsection
@section('scripts')
    <script type="text/javascript" nonce="{{ $JS_NONCE }}">
        var previousUrl = '{{ previousUrl }}';
    </script>
@endsection
