{% set VUE_SCRIPT_NAME = 'webhooks/show' %}
{% extends './layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, webhook) }}
{% endblock %}

{% block content %}
    <div id="webhooks_show"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        var previousUrl = '{{ previousUrl }}';
    </script>
{% endblock %}
