<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">{{ 'close'|_ }}</span>
            </button>
            <h4 class="modal-title">
                {{ trans('firefly.set_budget_limit_notes') }}
            </h4>
        </div>
            <div class="modal-body">
                <div>
                    {{ notes|markdown }}
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
        </div>
    </div>
</div>

