{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'journal_link_configuration'|_ }}</h3>
                </div>
                <div class="box-body">
                    
                </div>
            </div>
        </div>
    </div>


{% endblock %}
