{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.admin_test_body', {email: email })}}
</p>
{% include 'emails.footer-html' %}
