{% include 'emails.header-html' %}

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">

    {% if field == 'end_date' and diff != 0 %}
        {{ trans('email.bill_warning_end_date_html', {name: bill.name|escape, date: bill.end_date.isoFormat(trans('config.month_and_day_js')), diff: diff})|raw }}
    {% endif %}
    {% if field == 'extension_date' and diff != 0 %}
        {{ trans('email.bill_warning_extension_date_html', {name: bill.name|escape, date: bill.extension_date.isoFormat(trans('config.month_and_day_js')), diff: diff})|raw }}
    {% endif %}
    {% if field == 'end_date' and diff == 0 %}
        {{ trans('email.bill_warning_end_date_html_zero', {name: bill.name|escape, date: bill.end_date.isoFormat(trans('config.month_and_day_js'))})|raw }}
    {% endif %}
    {% if field == 'extension_date' and diff == 0 %}
        {{ trans('email.bill_warning_extension_date_html_zero', {name: bill.name|escape, date: bill.end_date.isoFormat(trans('config.month_and_day_js'))})|raw }}
    {% endif %}

</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Please take the appropriate action.
</p>


{% include 'emails.footer-html' %}