{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Firefly III has just blocked a registration for an email addres at domain {{ blocked_domain }}.
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    The blocked email address was "{{ email_address }}".
</p>
{% include 'emails.footer-html' %}
