{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Firefly III has just blocked a registration for email addres "{{ email_address }}". It was used before.
</p>
{% include 'emails.footer-html' %}
