{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Firefly III has just blocked a login from user #{{ user_id }} ({{ user_address }}).
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    The blocked code was "{{ code }}".
</p>
{% include 'emails.footer-html' %}
