{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    To start using your brand new Firefly III account, you need to activate it. Activating your account allows the website to verify that this email address is
    valid. Unfortunately, not even the most complex routines can work this out, without actually sending an email message. And here it is!
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    To active your account please follow the link below.
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    <strong>PLEASE</strong> verify that this activation link goes to the Firefly III installation you expect it to be:
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    <a href="{{ route }}" style="color:#337ab7">{{ route }}</a>
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    You should be redirected to the index page right away. The link expires in about four hours.
</p>
{% include 'emails.footer-html' %}