{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Firefly III has just locked out somebody trying to login with email address {{ email }}.
</p>
{% include 'emails.footer-html' %}
