<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

</head>
<body>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Hey there,
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Welkome to <a style="color:#337ab7" href="{{ address }}">Firefly III</a>. Your registration has made it, and this email is here to confirm it. Yay!
</p>

<ul>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        If you have forgotten your password already, please reset it using
        <a style="color:#337ab7" href="{{ address }}/password/reset">the password reset tool</a>.
    </li>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        There is a help-icon in the top right corner of each page. If you need help, click it!
    </li>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        If you haven't already, please read the
        <a style="color:#337ab7" href="https://github.com/JC5/firefly-iii/wiki/First-use">first use guide</a> and the
        <a style="color:#337ab7" href="http://jc5.github.io/firefly-iii//description/">full description</a>.
    </li>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        If this installation of Firefly is configured to send activation mails as well, you should get an activation
        link very soon!
    </li>
</ul>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    Enjoy!
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    James Cole
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;color:#aaa;">
    The registration has been created from IP {{ ip }}
</p>

</body>
</html>
