{% if breadcrumbs|length > 0 %}
    <ol class="breadcrumb float-sm-right">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.url and not loop.last %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
        {% else %}
            <li class="breadcrumb-item active">{{ breadcrumb.title }}</li>
        {% endif %}
    {% endfor %}
</ol>
{% endif %}



