{% set VUE_SCRIPT_NAME = 'administrations/edit' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
@endsection
@section('content')
    <div id="administrations_edit"></div>
@endsection
