{% set VUE_SCRIPT_NAME = 'administrations/edit' %}
{% extends './layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div id="administrations_edit"></div>
{% endblock %}
