{% set VUE_SCRIPT_NAME = 'administrations/index' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
@endsection
@section('content')
    <div id="administrations_index"></div>
@endsection
