<div class="form-group">
    <label for="inputExpRevAccounts" class="col-sm-3 control-label">{{ 'select_expense_revenue'|_ }}</label>
    <div class="col-sm-9">
        <select id="inputExpRevAccounts" name="exp_rev[]" multiple="multiple" class="form-control">
            {% for account in set %}
                <option value="{{ account.id }}" label="{{ account.name }}">{{ account.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
