
{% extends './v2/layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}

{% block content %}
    <!-- Small boxes (Stat box) -->

    <!-- Main row -->
    <div id="no-page">Hello, I am empty page.</div>
    <!-- /.row (main row) -->
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/empty.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
