
{% extends './v2/layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}

{% block content %}
    <div id="budgets"></div>
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/budgets/index.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
