{% extends './v2/layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
<div id="accounts_delete"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        // this is a terrible hack.
        var previousURL = '{{ Session.get('accounts.delete.uri') }}';
    </script>
    <script src="v2/js/accounts/delete.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
