{% extends './v2/layout/default' %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
<div id="accounts_show"></div>
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/accounts/show.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
