{% set bcArgs = [[objectType], [1,2,3]] %}

{% extends "./layout/default" %}
{% block content %}
<div id="accounts"></div>
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="v2/js/accounts.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
